<html ng-app="app">
<head>
	<title>Practice</title>

	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	<!-- Angular -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
	<script type="text/javascript">
		angular.module('app', [])
			.controller('ctrl', function($scope, $timeout) {

				$scope.Target = {
					x: 0,
					y: 0,
					size: 100,
					center: 50
				}

				var Cursor = {
					xDist: 0,
					yDist: 0
				}

				// var xDist, yDist, targetCenter;
				$scope.goal = 10;
				$scope.totalDist;
				$scope.totalClicks = 0;
				$scope.reactionTime;
				$scope.testIsDone = false;
				$scope.testInProgress = false;

				$scope.foundTarget = false;

				// $scope.

				var w = window,
					d = document,
					e = d.documentElement,
					g = d.getElementsByTagName('body')[0];

				var maxX, maxY, count, startTime, endTime;

				$scope.startTest = function() {

					initialize();
				};

				$scope.move = function() {

					count++;

					count < $scope.goal ? moveTarget() : endTest();
				};

				$scope.click = function(event) {

		            Cursor.xDist = Math.abs(event.offsetX - ($scope.Target.x + 50));
		            Cursor.yDist = Math.abs(event.offsetY - ($scope.Target.y + 50));
		            console.log(event.offsetX);
		            console.log('X location: ' + Cursor.xDist);
		            console.log('Y location: ' + Cursor.yDist + '\n');

		            // $scope.totalDist = 

					if ($scope.testInProgress) {

						$scope.totalClicks++;
					}
				};

				var initialize = function() {

					maxX = w.innerWidth || e.clientWidth || g.clientWidth;
					maxY = w.innerHeight|| e.clientHeight|| g.clientHeight;

					moveTarget();

					count = 0;
					$scope.totalClicks = 0;

					$scope.testInProgress = true;
					$scope.testIsDone = false;

					startTime = new Date();
				};

				var endTest = function() {

					endTime = new Date();
					totalTime = (endTime - startTime);

					$scope.reactionTime = Math.floor(totalTime / $scope.goal);
					$scope.testIsDone = true;
					$scope.testInProgress = false;
				};

				var moveTarget = function() {

					getRandX();
					getRandY();
				};

				var getRandX = function() {

					do {
						$scope.Target.x = Math.floor(maxX * Math.random() - $scope.Target.size);
					} while ($scope.Target.x < 0);
					// console.log('X:' + $scope.Target.x + ' out of ' + maxX);
				}

				var getRandY = function() {

					do {
						$scope.Target.y = Math.floor(maxY * Math.random() - $scope.Target.size);
					} while ($scope.Target.y < 0);
					// console.log('Y: ' + $scope.Target.y + ' out of ' + maxY);
				}


				// setInterval(function() {
				// 	$scope.i++;
				// 	$scope.j+=2;
				// 	$scope.intervalFunction();
				// }, 100);

				// $scope.intervalFunction = function () {
				// 	$scope.move();
					
			 //        $timeout(function() {
				//       	$scope.intervalFunction();
				// 	}, 1000)
				// };

				// $scope.intervalFunction();
			});
	</script>

	<style type="text/css">
		body {
			text-align: center;
		}
		.btn {
			border-radius: 15px;
			margin-top: 100px;
		}
		.target {
			background-color: black;
			border-radius: 100%;
			width: 100px;
			height: 100px;
		}
		.container {
			height: 100%;
			width: 100%;
			padding: 0px;
		}
	</style>
</head>
<body ng-controller="ctrl">
	<div ng-click="click($event)" class="container">
		<div ng-if="testIsDone && !testInProgress">
			<h1>Your reaction time is {{reactionTime}} ms</h1>
			<h1>Missed clicks: {{totalClicks - goal}}</h1>
		</div>
		<!-- <h1>Missed clicks: {{totalClicks}}</h1> -->
		<div ng-if="!testIsDone && !testInProgress">
			<strong>
				Rules: You must click the target {{goal}} times as fast as you can. 
				Every missed click counts against your score.
			</strong>
		</div>
		<button class="btn btn-primary" ng-click="startTest();" ng-if="!testInProgress"><h1>Begin test</h1></button>
		<div class="target" style="margin: {{Target.y}}px 0 0 {{Target.x}}px;" ng-click="move()" ng-if="testInProgress"></div>
	</div>
</body>
</html>
