<!DOCTYPE html>
<html ng-app="mainApp">
<head>
	<title>Homepage</title>
	<link href="uva-logo.png" rel="icon">

	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Custome CSS -->
	<link rel="stylesheet" href="main.css">

	<!-- AngularJS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.16/angular.min.js"></script>

	<!-- Custom JavaScript -->
	<script src="main.js"></script>
</head>
<body ng-controller="mainController">
<div class="container">

	<!-- Business in the front... -->

	<div class="row">

		<div class="col-md-4">
			<div class="btn-group-vertical btn-group-lg" role="group">
				<button type="button" class="btn btn-default" ng-repeat="course in courseList" ng-click="selectCourse($index)">{{course.title}}</button>
			</div>
		</div>

		<div class="col-md-8">
			<div class="panel panel-default">
				<div class="panel-heading panel-title">
					<h1><a href="{{courseList[viewedCourse].url}}">{{courseList[viewedCourse].title}}</a></h1>
				</div>
			
				<div class="panel-body" ng-repeat="link in courseList[viewedCourse].links">
					<h3><a href="{{link.url}}">{{link.text}}</a></h3>
				</div>
			</div>
		</div>

	</div>

	<!-- Party in the back! -->

	<div>
		<h3>Enter a url to an image</h3>
		<p><input type="text" ng-model="pic"></p>
		<div><img src="{{pic}}" ng-click="switchImage()"></div>
	</div>

</div>
</body>
</html>
