body {
	font-family: Georgia;
	text-align: center;
}
h1 {
	text-align: center;
	font-weight: bold;
	margin: 0px;
}
h1 a {
	color: black;
}
h1 a:hover {
	color: black;
}
h3 {
	font-weight: bold;
	margin: 0px;
}
button {
	background-color: #9af;
	border-radius: 5px;
	border: 0;
	padding: 5px;
}
button:focus {
	outline: 0;
}
button:hover {
	background-color: #abf;
}
button:active {
	background-color: #89d;
}
a {
	color: #18d;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
  max-width: 100%;
  box-shadow: 0px 0px 10px lightgray;
  margin-bottom: 20px;
  border-radius: 7px;
}
img:hover {
	box-shadow: 0px 0px 10px gray;
}
th {
	text-align: center;
}
.header {
	background-color: lightgray;
}
.panel {
	
}
.panel-heading {
	background-color: #D3D3D3 !important;
}
.panel-body {
	background-color: #DDE;
}
.links {
	background-color: #dde;
	border-radius: 0px 0px 15px 15px;
}
