<!DOCTYPE html>
<html data-ng-app="mainApp">
<head>
	<title>I can Track It!</title>
	<meta charset="UTF-8">
	<link rel="icon" href="http://grfx.cstv.com/graphics/school-logos/va-lg.png">

	<!-- Bootstrap -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom -->
	<link rel="stylesheet" type="text/css" href="cavAd.css">

	<!-- AngularJS -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>

	<!-- Custom -->
	<script src="cavAd.js"></script>
</head>
<body data-ng-controller="mainController">

	<div class="container">
		Remaining Plus Dollars: <input type="number" ng-model="remainingPlusDollars" ng-change="reload()">
		<br>
		Remaining Swipes: <input type="number" ng-model="remainingSwipes" ng-change="reload()">
		<br>
		Last day of classes: <input type="date" ng-model="datepicker" ng-change="reload()">
		<br>
		<h1>{{weeksUntilDate | number: 1}} weeks remaining.</h1>
		<h1>You must use {{swipesPerWeek | number: 1}} swipes and ${{plusDollarsPerWeek | number: 2}} plus dollars per week.</h1>
	</div>

	<a href="https://csg-web1.eservices.virginia.edu/student/welcome.php" target="_blank">Check you balance</a>

</body>
</html>